.wrapper{
    width:auto;
    height:100vh;
    margin: 0px;
    padding:0px;
    display: flex;
    justify-content: center;
}
.loginForm{
    width:400px;
    height:450px;
    border:1px solid #eee;
    align-items: center;
    text-align: center;
}
label,input{
    margin-bottom: 15px;
}